
*.class
*.log

target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

*.iml
.idea/
*.iws
*.ipr
*.sw?

.DS_Store
Thumbs.db
